/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.ini
/app/config/parameters.yml
app/sqlite.db
app/test.db
/build/
nbproject/
/phpunit.xml
/var/bootstrap.php.cache
/var/cache/*
!var/cache/.gitkeep
/var/logs/*
!var/logs/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
web/bundles/
/web/bundles/
/web/uploads/
web/xml
/.web-server-pid
web/test-coverage/
web-server-pid
.idea
src/OagBundle/Resources/public/.sass-cache/
src/OagBundle/Resources/public/stylesheets/main.css
app/test.db
