{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/oag/jquery-filestyle-1.5.1/src/jquery-filestyle.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Add Agricultural Classifications{% endblock %}

{% block body %}

    <div class="center">

        <section class="block">

            <div class="intro margin">
                <h1>Add Agricultural Classifications</h1>
                <h2>This tool 'reads' your files and suggests AGROVOC codes it believes match each activity ID.</h2>
            </div>

            {% for activity in activities %}
                {{ include('OagBundle::widgets/activity.html.twig', { 'activity': activity, 'suggestRoute': path('oag_wireframe_classifiersuggestion', { 'id': file.getId(), 'activityId': activity.id }) }) }}
            {% endfor %}

            <a href="#" class="cta grey">Back</a>

        </section>

    </div>

{% endblock %}
