{% extends "::base.html.twig" %}

{% block title %}OagBundle:Wireframe:preview{% endblock %}

{% block body %}
<h1>Preview</h1>
<iframe src="{{ dPortalUri }}"></iframe>
<p>Sed sint velit ea hic aut itaque. Ab sit a rerum maxime architecto. Et earum iste est nostrum et libero aspernatur sed. Est hic sint quam. Ipsum mollitia blanditiis ipsum sapiente sed.</p>
{% endblock %}
