{% extends "OagBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/oag/jquery-filestyle-1.5.1/src/jquery-filestyle.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}Preview{% endblock %}

{% block body %}

    <div class="center" id="preview">

        <section class="block">

            <div class="intro margin">
                <h1>Preview and visualise</h1>
            </div>

            <article class="activity">
            
            <div class="heading summary">
                <h2><span class="tip">d-portal preview</span></h2>
            </div>     
            
            <div class="version">
                <p><a href="http://www.d-portal.org/">d-portal</a> is a site which helps people explore published IATI data. This is a preview of how your data would look if it were published. For more information on the publishing process, <a href="http://iatistandard.org/202/guidance/how-to-publish/</a>visit the IATI guide to publishing data.</p>         
            </div>            
                <iframe src="{{ dPortalUri }}"></iframe>
            </article>

        </section>

    </div>

{% endblock %}
