{% extends "OagBundle::base.html.twig" %}

{% block title %}Oops we had a problem{% endblock %}

{% block body %}

    <div class="center">

        <section class="block">

            <div class="intro margin">
                <h1>Oops we had a problem</h1>
                <h2>We're really sorry we had a problem finding the file you asked for..</h2>
            </div>

        </section>

    </div>

{% endblock %}
