{% extends 'OagBundle::Default/index.html.twig' %}

{% block title %}Classify results: {{ name }}{% endblock %}

{% block h1 %}{{ name }}{% endblock %}

{% block body %}
    {% if sectors|length > 0 %}
        {{ include('OagBundle::OagFile/sectors_table.html.twig', { 'sectors': sectors }) }}
    {% else %}
        <h2>No sectors associated</h2>
    {% endif %}
{% endblock %}
