{% extends 'OagBundle::Default/index.html.twig' %}

{% block title %}Classify results: {{ name }}{% endblock %}

{% block h1 %}{{ name }}{% endblock %}

{% block body %}
    {% if sectors|length > 0 %}
        {% for activityId, activitySectors in sectors|formatSectorList %}
            <h2>{{ activityId }}</h2>
            {{ include('OagBundle::OagFile/suggested_sectors_table.html.twig', { 'sectors': activitySectors }) }}
        {% endfor %}
    {% else %}
        <h2>No sectors associated</h2>
    {% endif %}
{% endblock %}
