<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>AGROVOC Code</th>
            <th>Description</th>
            <th>Confidence</th>
        </tr>
    </thead>
    <tbody>
        {% for sector in sectors %}
            <tr>
                <td>{{ sector['code'] }}</td>
                <td>{{ sector['description'] }}</td>
                <td>{{ sector['confidence'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
