{% extends 'OagBundle::Default/index.html.twig' %}

{% block title %}OagBundle:OagFile:source{% endblock %}

{% block body %}
    <h1>Welcome to the OagFile:source page</h1>

    <ul>
        <li>Run source doc through cove</li>
        <li>Create (overwrite?) IATI XML doc</li>
        <li>Report results (Avtivity summary?) and Errors</li>
    </ul>
{% endblock %}
