<a
    href="{{ path('oag_oagfile_enhancement', { 'id': enhancingDoc.id }) }}"
    {% if enhancingDoc.suggestedTags | length > 0 %}
        title="{{ enhancingDoc.suggestedTags | suggestedTagList }}"
    {% endif %}
    >
    {{ enhancingDoc.documentName }}
</a>

[{{ enhancingDoc.suggestedTags | length }}]
