/* --------------------------------------------------------------

   Fonts

-------------------------------------------------------------- */

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}


/* --------------------------------------------------------------

   Typography

-------------------------------------------------------------- */

$oag_font_copy: 'Roboto', sans-serif;


/* --------------------------------------------------------------

   Colours

-------------------------------------------------------------- */

$oag_brand_blue: #056d91;
$oag_brand_yellow: #d6a929;
$oag_brand_green: #8e9337;
$oag_blue: #2b9fc9; /* rgb(43,159,201) */
$oag_yellow: #f3cf6b;
$oag_green: #bdc265; /* rgb(189,194,101) */
$oag_purple: #955b9a; /* rgb(149,91,154) */
$oag_red: #cc3f4d;
$oag_grey: #5b8499;
$oag_copy: #6b6b6b;
$oag_light: #a7a9ac;
$oag_dark: #323638;
$oag_link: #fc7e00;
