// Install these with
// php ./bin/console assets:install public --symlink --relative

@import 'vars';


/* --------------------------------------------------------------

   Page Layout

-------------------------------------------------------------- */

html, body {
  height: 100%;
  font-family: $oag_font;
  font-size: 1em;
  line-height: 1.5;
  color: $oag_title;
  background-color: #fcfcfd;
  margin: 0;
}

h1 {
  font-size: 2.5em;
  font-weight: normal;
}

h2,
h3 {
  font-weight: normal;
  color: $oag_dark;
}

hr {
  margin-bottom: 2em;
  border: 1px solid rgba(205, 210, 212, 0.24);
}

a {
  text-decoration: none;
  &:active,
  &:visited {
    text-decoration: underline;
  }
  &:hover {
    color: $oag_link;
    text-decoration: underline;
  }
}

button {
  border: 0;
  font-family: inherit;
  display: inline-block;
  padding: 1em 2em;
  cursor: pointer;
  background-color: $oag_purple;
  color: white;
  &:hover {
    background-color: lighten($oag_purple, 10%);
  }
}

header {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 0em 2em;
  a {
    &:visited {
      color: $oag_dark;
    }
    &:hover {
      color: $oag_grey;
      text-decoration: none;
    }
  }
}

nav {
  width: 980px;
  .logo {
    float: left;
    line-height: 67px;
  }
  .nav-options {
    float: right;
    ul {
      padding: 0;
      margin: 0;
      display: flex;
    }
    li {
      padding: 0;
      display: inline;
      list-style-type: none;
      margin-left: 5px;
      a {
        color: $oag_dark;
        padding: 1.5em;
        line-height: 67px;
        transition: all 0.5s ease 0s;
        &:hover {
          color: black;
          text-decoration: none;
        }
      }
      &:nth-child(1) > a {
        box-shadow: inset 0px -6px 0px $oag_purple;
        &:hover {
          background-color: rgba(149,91,154, 0.1);
          box-shadow: inset 0px -6px 0px #a362a8;
        }
      }
      &:nth-child(2) > a {
        box-shadow: inset 0px -6px 0px $oag_green;
        &:hover {
          background-color: rgba(189,194,101, 0.1);
          box-shadow: inset 0px -6px 0px #cad069;
        }
      }
      &:nth-child(3) > a {
        box-shadow: inset 0px -6px 0px $oag_blue;
        &:hover {
          background-color: rgba(43,159,201, 0.1);
          box-shadow: inset 0px -6px 0px #4fb1d4;
        }
      }
    }
  }
}

section {
  display: flex;
  justify-content: center;
  padding: 2em;
}

.gradient {
  height: 555px;
  background: $oag_blue;  /* fallback for old browsers */
  background: -webkit-linear-gradient(150deg, $oag_blue 15%, $oag_purple 70%);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(150deg, $oag_blue 15%, $oag_purple 70%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: -webkit-linear-gradient(to right, rgba(43,159,201,0.5), rgba(189,194,101,0.5));  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(311deg, rgb(43, 159, 201) 0%, rgb(149, 91, 154) 61%);
  h1 {
    color: white;
  }
}

.instructions {
  padding: 12em 2em 2em 2em;
  color: $oag_title;
  h1 {
    color: $oag_purple;
  }
  h2 {
    color: #585873;
  }
}

.intro {
  margin-bottom: 4em;
  h2 {
    color: #e4f0f5;
  }
}

.dark {
  color: $oag_dark;
}

.content {
  width: 980px;
}

.associated-files .docname {
  margin-top: 5px;
  width: 250px;
  display: inline-block;
  border-bottom: 1px dotted;
}

.hidden-row {
  display: none;
}

.upload-form {
  background-color: white;
  padding: 1em 2em;
  display: inline-block;
  border: none;
  border-radius: 1px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  div {
    margin-bottom: 1em;
  }
  input,
  button {
    margin-top: 1em;
    transition: all 0.5s ease 0s;
  }
}

.flash-info {
  background: $oag_green;
  font-weight: bold;
  color: white;
  font-size: 110%;
  padding: 3px;
}

.flash-error {
  background: $oag_red;
  font-weight: bold;
  color: white;
  font-size: 110%;
  padding: 3px;
}

.ui-tooltip {
  white-space: pre-line;
}

#existing-locations {
  width: 100%;
}

#existing-map-block {
  width: 100%;
  height: 400px;
  border: 1px solid;
}

#existing-map-block .leaflet-map-pane *+* {
  margin: 0;
}

.leaflet-container .markerLabel img {
  /* override map img max width none on img */
  max-width: 100% !important;
  margin-top: 6px;
}

/* Override body *+* margin */
.leaflet-tile.leaflet-tile-loaded {
  margin-top: 0;
}

.biglabel {
  font-size: 105%;
  font-weight: bolder;
}

#merge_activity_currentTags,
#merge_activity_suggested {
  margin-bottom: 20px;
}


/* --------------------------------------------------------------

   Media queries

-------------------------------------------------------------- */
