{% extends 'OagBundle::Default/index.html.twig' %}

{% block body %}
    <h2>Add documents to enhance content</h2>
    <div style='margin-bottom: 20px; display: inline-block'>
        {% form_theme enhancementForm 'OagBundle::form/listEnhancementDocs.html.twig' %}
        {{ form(enhancementForm) }}
    </div>
    <h2>Activities</h2>
    <div style='margin-bottom: 20px; display: inline-block'>
        {% form_theme sectorsForm 'OagBundle::form/mergeActivity.html.twig' %}
        {{ form(sectorsForm) }}
    </div>
{% endblock %}
