{% extends 'OagBundle::Default/index.html.twig' %}

{% block body %}
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th colspan='2'>Add file for enhancement</th>
            </tr>
        </thead>
        <tbody>
            {% for row in enhancementFiles %}
            <td>{{ row['name'] }}</td>
            <td>{{ row['count'] }}</td>
        {% endfor %}
        </tbody>
</table>

{% form_theme form 'OagBundle::form/mergeActivity.html.twig' %}
  {{ form(form) }}
{% endblock %}
