{% extends 'OagBundle::Default/index.html.twig' %}

{% block stylesheets %}
  <style>
    td, th, table {
      border: 2px solid black;
    }
  </style>
{% endblock %}

{% block body %}
    <div><a href='{{ path('oag_classify_sectors', { 'id': id }) }}'>+ Add enhancing document</a></div>
    {% form_theme form 'OagBundle::form/mergeActivity.html.twig' %}
  {{ form(form) }}
{% endblock %}
