<table class="pure-table pure-table-bordered">
    <thead>
        <tr>
            <th>AGROVOC Code</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for tag in tags %}
            <tr>
                {{ include('OagBundle::OagFile/tag_row.html.twig', { 'tag': tag }) }}
            </tr>
        {% endfor %}
    </tbody>
</table>
