<article class="activity">
    <div class="title">
        <h2 >{{ activity.name }} </h2>
        <h3>Activity ID: {{ activity.id }}</h3>
    </div>

    <div class="description">
        <p>Description: {{ activity.description }}</p>
    </div>

    {% if suggestRoute is defined %}
    <div class="view-suggestions"><a href="{{ suggestRoute }}" class="cta">View Suggestions</a></div>
    {% endif %}
</article>
